@import "./../settings/colors";
@import "./../settings/fonts";

header{
  background-color: $color_primary;
  height: 77px;
  padding: 20px 0;

  & p {
    color: $color_white;
    font-family: $font_light;
    font-size: 48px;
    line-height: 43px;
  }

  & .logo{
    margin: 0 30px 0 0;
  }


  & * {
    vertical-align: middle;
  }
}