@import "./fonts/require";
@import "KPMG_styleguides/require";
@import "./core/require";
@import "./accounting/require";


.ucContainer{
  margin: auto;
  width: 1440px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}