@import "KPMG_styleguides/require";
@import "pages/require";

.ucContainer{
  margin: auto;
  width: 1440px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}