@import "./../../settings/sizes";
@import "./../../settings/colors";

.navbar_block {
  & div {
    margin: 0 20px 0 0;

    & button{
      background: transparent;
      border: solid 1px $color_borders;
      border-radius: 2px;
      box-shadow: none;
      font-size: $font_size_common_text;
      height: 24px;
      line-height: 24px;

      & *{
        vertical-align: middle;
      }
    }

    &:last-of-type{
      margin: 0
    }
  }

}