$color_kpmg_blue: #1b5eaa;
$color_kpmg_semiblue: #094d99;
$color_kpmg_darkblue: #0f417b;
$color_kpmg_white: #fefefe;
$kpmg_primary_font_color: #4e4e4e;
$kpmg_secondary_font_color: #afafaf;

$color_input: #e7e7e7;

ul{
    color: black;
}