$font_heading_kpmg: KPMGCyrillic-Extralight;
//$font_size_headers: 18px;
/*
$font_size_primary: 16px;
$font_size_secondary: 14px;
*/

//@font-face {
//    font-family: KPMGCyrillic-Extralight;
//    src: url('/fonts/KPMGCyrillic-Extralight-160705.ttf')
//}