.BTMS_general_item.comments{
  color: $kpmg_primary_font_color;
  font-size: $font-size-secondary;

  & textarea {
    background: #e7e7e7;;
    border: none;
    border-radius: 2px;
    resize: none;
    vertical-align: top;
    width: 265px;
  }
}