.uc_toast {
    background-color: whitesmoke;

  & .Toastify__toast-body{
    color: $color_kpmg_blue;
  }

  & .Toastify__progress-bar{
    background: $color_kpmg_blue;
  }

  & .Toastify__close-button{

  }
}
